<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      College of Criminology <br>Forensic Science Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>1. Who is known as the Father of Forensic Toxicology?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="answers.q1">
        <ion-item>
          <ion-label>Mathieu Orfila</ion-label>
          <ion-radio slot="start" value="orfila"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Alphonse Bertillon</ion-label>
          <ion-radio slot="start" value="bertillon"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Francis Galton</ion-label>
          <ion-radio slot="start" value="galton"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>2. Which fingerprint pattern is the most common?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="answers.q2">
        <ion-item>
          <ion-label>Whorl</ion-label>
          <ion-radio slot="start" value="whorl"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Loop</ion-label>
          <ion-radio slot="start" value="loop"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Arch</ion-label>
          <ion-radio slot="start" value="arch"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Tented Arch</ion-label>
          <ion-radio slot="start" value="tented"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>3. What is the study of bloodstains in crime scenes called?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="answers.q3">
        <ion-item>
          <ion-label>Ballistics</ion-label>
          <ion-radio slot="start" value="ballistics"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Serology</ion-label>
          <ion-radio slot="start" value="serology"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Bloodstain Pattern Analysis</ion-label>
          <ion-radio slot="start" value="bpa"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="submitQuiz()">Submit Answers</ion-button>

  <div *ngIf="score !== null" style="text-align:center; margin-top:15px;">
    <h2>Your Score: {{score}} / 3</h2>
  </div>

</ion-content>
